$primary-100: hsl(259, 100%, 65%);
$primary-200: hsl(0, 100%, 67%);

$neutral-100: hsl(0, 0%, 100%);
$neutral-200: hsl(0, 0%, 94%);
$neutral-300: hsl(0, 0%, 86%);
$neutral-400: hsl(0, 1%, 44%);
$neutral-500: hsl(0, 0%, 8%);

$ff-base: "Poppins", sans-serif;
$fw-base: 400;
$fw-lg: 700;
$fw-xl: 800;

$rounded-sm: 0.25rem;
$rounded-md: 1rem;
$rounded-xl: 10rem;
